/* add BG-img */
body {
  background: url("../img/bg-img.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/* clear float */
.clearfix {
  *zoom: 1;
}

input:focus {
  outline: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* line-center */
.layout {
  width: 1128px;
  margin: 0 auto;
}

/* header start */
.header {
  text-align: center;
}

.header h1 {
  margin-top: 96px;
  margin-bottom: 28px;
  color: #ffffff;
}

.header p {
  color: #ffffff;
}

/* header-over */

/* navigation start*/
.navigation {
  margin-top: 106px;
}

.navigation li {
  padding: 26px 32px;
  float: left;
  background-color: #67b0d1;
  border-right: 1px solid #78b9d6;
}

.navigation li:last-child {
  border: none;
}

.navigation li a {
  display: inline-block;
  font-size: 16px;
  line-height: 42px;
  text-decoration: none;
  color: #f7fafc;
}

.navigation li .icon-add {
  font-size: 40px;
}

/* search input */
.navigation .search {
  padding: 25px 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 318px;
}

.navigation .search input {
  padding-left: 16px;
  width: 236px;
  height: 42px;
  color: #73ccf4;
  border: none;
  background-color: #4c9dc1;
}

.navigation .search input:focus {
  outline: none;
}

.navigation .search input::placeholder {
  content: 'Search the website';
  color: #73ccf4;
}

.navigation .search .icon-search {
  position: absolute;
  top: 40px;
  right: 44px;
  color: #72ccf4;
}

/* navigation over */
/* content start */
.content {
  margin-top: 45px;
}

.aside {
  float: left;
  width: 380px;
}

.main {
  float: left;
  width: 278px;
  margin: 0 45px;
}

/* weather  */
.weather {
  width: 380px;
  background-color: #3bbec0;
  color: #ffffff;
  box-sizing: border-box;
}

/* 今天天气 */
.weather-today {
  padding-top: 40px;
  padding-bottom: 30px;
  border: 2px solid #53c6c8;
}

.weather .detail, .weather .thumbnail {
  float: left;
  vertical-align: middle;

}

.weather .thumbnail {
  padding-left: 30px;
  padding-right: 110px;
}

.weather .thumbnail span {
  font-size: 70px;
}

.weather .detail p, .weather .detail h3 {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.weather .detail .temperature {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 12px;
}

/* 地点 */
.weather-place {
  padding: 19px 23px 21px 29px;
  border: 2px solid #60cacc;
}

.weather-place span {
  font-size: 12px;
  line-height: 24px;
}

.weather-place .search-place {
  float: right;
  position: relative;
}

.weather-place .search-place input {
  width: 126px;
  height: 24px;
  border: none;
  background-color: #319ba1;
  padding-left: 20px;
}

.weather-place .search-place .icon-search {
  position: absolute;
  top: 2px;
  left: 8px;
  font-size: 12px;
  font-weight: 700;
}

/* 7天预报 */
.weather .weather-forecast {
  padding:0 8px;
}
.weather .weather-forecast li {
  float: left;
  box-sizing: border-box;
  width:52px;
  border-right:1px solid #5bc9ca;
  border-left:1px solid #5bc9ca;
  padding:21px 13px 32px 17px;
  font-size:12px;
}
.weather .weather-forecast li:last-child {
  border-right:none;
}
.weather .weather-forecast li:first-child {
  border-left:none;
}
.weather .weather-forecast .iconfont {
  display: inline-block;
  margin:10px 0;
  font-weight:700;
  color: #454747;
}

/* music */
.music {
  width: 380px;
  box-sizing: border-box;
}
.music .music-panel li{
  float: left;
  padding:10px;
}


/* content over */

/* footer start */

.footer {
  padding-top: 124px;
  padding-bottom: 90px;
  text-align: center;
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: #7de7ec;

}

/* footer over */
